.{ 
   margin:5px solid red;
   padding:0;
}
body{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../project/kumarakom-backwaters.jpg);
	height:100vh;
	background-size:cover;
	background-position:center;
}
ul{
	float:right;
	list-style-type:none;
	margin-top:5px;
}
ul li{
	
	display:inline-block;
}
ul li a{
	text-decoration:none;
	color:#fff;
	padding:5px 20px;
	border:1px solid transparent;
	transition:0.6s ease;
}
ul li a:hover{
	background-color:white;
	color:black;
}


h1{
	position:absolute;
	top:10%;
	left:30%;
	color:white;
	text-align:center;
	border:3px solid red;
	border-bottom:none;
	border-radius:10px 10px 0px 0px;
	padding:5px;
	
}
form{
	position:absolute;
	background-color:none;
	width:35%;
	margin:0px auto;
	color:white;
	text-align:center;
	border:3px solid red;
	border-radius:0px 0px 10px 10px;
	padding:10px;
	top:20%;
	left:30%;
}
.input-group{
	margin:10px 0px 10px 0px;
}
.input-group label{
	display:block;
	text-align:left;
	margin:3px;
	
}
.input-group input{
	top:10px;
	height:30px;
	width:210px;
	padding:10px 10px;
	font-size:16px;
	border-radius:5px;
	border:1px solid gray;
}
